/* ===== Some Global CSS ===== */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
section {
  padding: 100px 80px;
}
/*  Flex */
.d-flex {
  display: flex;
  align-items: center;
}
/* Half Width */
.width-50 {
  width: 50%;
}

/* ===== Banner Section Start ===== */

/* ===== About Section Start ===== */
.about-section {
  background-image: url(images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
}
