/* ===== Some Global CSS ===== */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
span {
  color: #fd4b2e;
}
img {
  display: block;
  width: 100%;
}
section {
  padding: 100px 80px;
}
/*  Flex */
.d-flex {
  display: flex;
  align-items: center;
}
/* Half Width */
.width-50 {
  width: 50%;
}
/*  30% Width */
.width-30 {
  width: 30%;
}
/* 45% Width */
.width-45 {
  width: 45%;
}
/* Margin  Right 3% */
.mr-3 {
  margin-right: 3%;
}
/* text-center */
.text-center {
  text-align: center;
}

/* Navbar area */
.navbar-area {
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  display: inline-block;
  font-size: 18px;
}

/* ===== Banner Section  ===== */

/* ===== About Section  ===== */
.about-section {
  background-image: url(images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/*  =====Testimonial Section =====  */
.testiomonal-items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===== Footer Section  ===== */
footer {
  background-color: #0b0d17;
  padding: 55px 0 100px;
  color: #f8f8f8;
}
